.App {
  text-align: center;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.id11{
  width: 10vw;
}